## Systemd servicefile for cgroup_py

[Service]
Type=forking

ExecStart=/usr/bin/cgroup_py/launch.sh
PIDFile=/var/run/cgpy.pid
ExecStop=/usr/bin/cgroup_py/stop.sh